body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bolder;
    line-height: 2;
    color: #40514E;
}

.top-container {
    position: relative;
    padding-top: 30px;
    background-color: #d0e6fa;
}

.profile-picture {
    width: 30%;
}

.profile {
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
}
.top-cloud {
    position: absolute;
    top: 8%;
    right: 25%;
}

.mountain-pic {
    width: 50%;
}

.bottom-cloud {
    position: absolute;
    bottom: 55%;
    left: 10%;
    right: 90%
}

.cloud {
    width: 15%;
}

.middle-container {
    background-color: white;
}

.bottom-container {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #66bfbf;
}

.contact-me {
    margin-bottom: 20px;
}

h1 {
    color: #66BFBF;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 7rem;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    margin-top: 0px;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.subheading {
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #11999E;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
}

.devlogo {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.wings {
    width: 50%;
    float: right;
    margin-left: 15px;
}

.copyright {
    color: #eaf6f6;
}

hr {
    width: 13%;
    border: none;
    border-top: 15px dotted #eaf6f6;
}


